.MuiTextField-root {
    // height: 20px;
    width: 300px;

    .MuiFormLabel-root {
        top: -5px;
    }

    .MuiInputBase-root {
        height: 40px;
        
        .MuiInputBase-input {
            padding: 0 12px;
        }
    }
}

