.tile-button-container {
    margin: 10px;

    .tile-button {
        background-color: white;
        color: black;
        border: 1px black solid;
        font-size: 1rem;
        padding: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}