@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
#app {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans';
  padding: 0;
}

.ProductPageContainer {
  display: block;
  width: 100%;
}
